@inherits LayoutComponentBase

<main class="main-content position-relative border-radius-lg ps">
    <Navbar />

    <div class="container-fluid py-4 ps-bg-gray-500 pe-5">
        @Body
    </div>
</main>
