<nav class="navbar navbar-expand-lg top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
        <a class="navbar-brand" href="/" rel="tooltip" title="Hmmmm" data-placement="bottom">
            <h3>@(DKControll.Configuration.Label)</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <div class="row">
                    <div class="col-auto m-auto">
                        <a class="cursor-pointer">
                            <i class="bx bx-md bxs-cog fixed-plugin-button-nav"></i>
                        </a>
                    </div>
                    <div class="col-auto m-auto">
                        <a class="cursor-pointer">
                            <i class="bx bx-md bxs-cog fixed-plugin-button-nav"></i>
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>