@page "/"

<div class="row">
    <div class="card">
        <div class="card-header">
            <h4>Current Status</h4>
        </div>
        <div class="card-body">
            <div class="card bg-cover card-body">
                <div class="row row-cols-auto">
                    <div class="pt-5 col-sm-1">
                        <div class="icon icon-shape me-3 bg-gradient-dark shadow text-center">
                            <i class="bx bx-server text-white opacity-10"></i>
                        </div>
                    </div>
                    <div class="pt-5 col-sm-4">
                        <h6 class="mb-1 text-dark h5">Test Name</h6>
                        <b class="text-success">Online</b>
                    </div>
                    <div class="pt-3 col-sm-6">
                        <div class="card bg-cover">
                            <div class="card-body">
                                <div class="row">
                                    @for (int i = 0; i < 10; i++)
                                    {
                                        <div class="ms-2 mt-2 icon icon-shape bg-success shadow text-center w-1">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>